a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}
header {
    background-color: rgba(255, 192, 203, 0.685);
}
h1 {
    background-color: rgba(128, 128, 128, 0.419);
    display: grid;
    margin: 2px;
    padding: 2px;
    justify-content:flex-start;
    font-size: 60px;
}
nav {
list-style-type: none;
display: flex;
justify-content: end;
justify-content:flex-end;
background-color: rgba(255, 192, 203, 0.447);
}
a {
    margin: 5px;
}
button {
    background-color: darkblue;
    padding: 2px;
    margin: 2px;
    width: 100%;
}
/* Relative positioning */
#relative-box {
    position: relative;
    left: 200px;
  }
  
  /* Absolute positioning */
  #absolute-section {
    position: relative;
  }
  
  #absolute-box {
    position: absolute;
    top: 50px;
    right: 100px;
  }
  
  /* Fixed positioning */
  #fixed-box {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  /* h2 {
      background-color: peru;
      width: 30%;
      font-size: 20px;
  } */
  aside {
      width: 25%;
  }
  #aboutme,#projects {
      display: flex;
  }
  .row {
      height: 200px;
      display: block;
  }
  * {
box sizing: border-box;
  }
  .column {
float: left;
width: 33.33%;
padding: 5px;
  }
  .row::after {
      content:"";
      display: table;
      clear: both;
  }